/**
* Alexandre Vinette & Joël Paulin
* 13/04/2020
* game.css
* Style de la page pour le déroulement du jeu
*/

html {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url(../img/brickWall-export.png);
    background-repeat: inherit;
}

/*Garde le contenu de la page centré*/
.content-wrapper{
    flex: 1;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*L'élément 'body' prend 100% de la page*/
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Hauteur de l'en-tête pour le bouton de menu*/
header{
    padding-bottom: 0.8em;
}

/*Tout les liens sont de même police et couleur*/
a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#000000;
}

/*Le style des boutons*/
.bouton{
    display: inline-block;
    background-image: url("../img/boutonReturn.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 0.5em;
}

/*Grosseur et emplacement du bouton de menu*/
#menu{
    position: absolute;
    top:0em;
    left: 0.8em;
    bottom: auto;
    padding:2.5em 3.5em;
}

/*Grosseur et emplacement du bouton pour jouer*/
#joue{
   position: absolute;
    right: 2.5em;
    bottom: 0;
    padding:3.25em 3.5em;
    top: auto;
} 

/*Change d'image lorsque celui-ci est surligner par la souris*/
.bouton:hover{
    background-image: url("../img/boutonReturnHover.png");
}

/*Change d'image lorsque celui-ci est appuyer*/
.bouton:active{
    background-image: url("../img/boutonReturnActive.png");
    color: #ffffff;
}

/*Barre de vie de l'enemi*/
#enemyHealth{
    border: 1px, solid, black;
    height:18px;
    width: 200px;
    background-color: #bd0000;

}

/*Animation du squelette*/
.SkellyIdle {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/SkellyIdle.png') left center;
    background-size: cover;
    animation: play 1s steps(4) infinite;
    
}

/*Animation du squelette quand il se fait attaquer*/
.SkellyHit {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/SkellyHit.png') left center;
    background-size: cover;
    animation: play3 0.5s steps(4) 1;
    display: block;
}

/*Animation du squelette quand il attaque*/
.SkellyAttack {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/SkellyAttack.png') left center;
    background-size: cover;
    animation: play2 1s steps(8) 1;
    display: block;
}

/*Animation du goblin en sur place*/
.GoblinIdle {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/GoblinIdle.png') left center;
    background-size: cover;
    animation: play 1s steps(4) infinite;
    display: inline-block;
}

/*Animation du goblin quand il se fait attaquer*/
.GoblinHit{
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/GoblinHit.png') left center;
    background-size: cover;
    animation: play3 0.5s steps(4) 1;
    display: inline-block;
}

/*Animation du goblin quand il attaque*/
.GoblinAttack {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/GoblinAttack.png') left center;
    background-size: cover;
    animation: play2 1s steps(8) 1;
    display: inline-block;
}

/*Animation de la chauve-souris en sur-place*/
.BatIdle {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/BatIdle.png') left center;
    background-size: cover;
    animation: play2 1s steps(8) infinite;
    display: inline-block;
}

/*Animation de la chauve-souris quand elle se fait attaquer*/
.BatHit{
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/BatHit.png') left center;
    background-size: cover;
    animation: play 0.5s steps(4) 1;
    display: inline-block
}

/*Animation de la chauve-souris quand elle attaque*/
.BatAttack {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/BatAttack.png') left center;
    background-size: cover;
    animation: play2 1s steps(8) 1;
    display: inline-block;
}

/*Section pour le paquet, la barre de bloque et la barre de vie du joueur*/
.middle{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    position: relative;
    height: 47px;
    width: 100%;
}

/*Le paquet de carte*/
#deck{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/drawPileSmall.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 88px;
    margin-left: 0.4em;
}

/*Barre de bloque*/
#block{
    display: inline-block;
    position: absolute;
    margin-right: 0.5em;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 0;
    height: 18px;
    background-color: #0288d1;
}

/*Barre de vie du joueur*/
#playerHealth{
    display: inline-block;
    position: absolute;
    margin-right: 0.5em;
    bottom: 0;
    right: 0;
    height: 18px;
    width: 300px;
    background-color: #149902;
}

/*Emplacement des cartes*/
#cards{
    width: 100%;
    height:240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

/*Carte d'attaque*/
.AttackCard {
    width: 90px;
    height: 160px;
    background-image: url(../img/attackSmall.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Carte d'attaque lorsque surligner par la souris*/
.AttackCard:hover{
    width: 120px;
    height: 160px;
    background-image: url(../img/attack.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Carte d'attaque lorsque appuyer*/
.AttackCard:Active{
    width: 120px;
    height: 160px;
    background-image: url(../img/attackSmallActive.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Carte de bloque*/
.BlockCard {
    width: 90px;
    height: 160px;
    background-image: url(../img/blockSmall.png);   
    background-repeat: no-repeat;
    background-position: center; 
}

/*Carte de bloque lorsque surligner par la souris*/
.BlockCard:hover{
    width: 120px;
    height: 160px;
    background-image: url(../img/block.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Carte de bloque lorsque appuyer*/
.BlockCard:active{
    width: 120px;
    height: 160px;
    background-image: url(../img/blockSmallActive.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Animation du squelette*/
@keyframes play {
    100% {background-position: -1800px;}
}

/*Animation du goblin*/
@keyframes play3 {
    100% {background-position: -1800px;}
}

/*Animation de la chauve-souris*/
@keyframes play2 {
    100% {background-position: -3600px;}
}

/*Le style du pied-de-page*/
footer{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    height: 144px;
    width: 100%;
    background-image: url("../img/longflames.png");
}

/*Texte dans le pied-de-page*/
.footerText{
    display: flex;
    position: absolute;
    bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#000000;
    font-size: 0.5em;
}

/*Emplacement de la carte 1*/
#card1{
    display: inline-block;
}

/*Emplacement de la carte 2*/
#card2{
    display: inline-block;
}

/*Emplacement de la carte 3*/
#card3{
    display: inline-block;
}

/*Emplacement de la carte 4*/
#card4{
 display: inline-block;
}

/*Emplacement de la carte 5*/
#card5{
 display: inline-block;
}

/*
 Règle à ajouter pour tablette
*/
@media (min-width: 700px){

    /*Les boutons grossi*/
    .bouton{
        font-size: 0.75em;
    }

    /*Le paquet bouge et raptit*/
    #deck{
        background-image: url(../img/drawPileMiddle.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 160px;
        width: 117px;
        bottom: -2em;
    }

    /*La carte d'attaque grossi*/
    .AttackCard {
        width: 120px;
        height: 240px;
        background-image: url(../img/attack.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    /*La carte d'attaque lorque surlignée grossi*/
    .AttackCard:hover{
        width: 180px;
        height: 240px;
        background-image: url(../img/attackHover.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    /*La carte d'attaque lorque appuyée grossi*/
    .AttackCard:active{
        width: 180px;
        height: 240px;
        background-image: url(../img/attackActive.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    /*La carte de bloque grossi*/
    .BlockCard {
        width: 120px;
        height: 240px;
        background-image: url(../img/block.png);   
        background-repeat: no-repeat;
        background-position: center; 
    }
    
    /*La carte de bloque lorque surligné grossi*/
    .BlockCard:hover{
        width: 180px;
        height: 240px;
        background-image: url(../img/blockHover.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    /*La carte de bloque lorque appuyée grossi*/
    .BlockCard:active{
        width: 180px;
        height: 240px;
        background-image: url(../img/blockActive.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1200px){
  
    /*Le paquet bouge et grossi*/
    #deck{
        background-image: url(../img/drawPile.png);
        height: 240px;
        width: 176px;
        bottom: auto;
    }

    /*Le bouton pour jouer se met à la droite*/
    #joue{
        right: 2.5em;
        bottom: 5em;
        top: auto;
    }
}