/**
* Alexandre Vinette & Joël Paulin
* 13/04/2020
* loose.css
* Style de page lorsque le joueur perd la partie
*/

html{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #000000;
    background-repeat: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/*
 Règle à ajouter pour téléphone électronique
*/

/*Garde le contenu de la page centré*/
.content-wrapper{
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*L'élément 'body' prend 100% de la page*/
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Tout les liens sont de même police et couleur*/
a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#000000;
}

/*Bouton pour retourner au menu*/
.bouton{
    display: inline-block;
    position: absolute;
    top: 0.8em;
    left: 0;
    background-image: url("../img/boutonReturn.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5em 3.5em;
    text-align: center;
    font-size: 0.5em;
}

/*Change d'image lorsque celui-ci est surligner par la souris*/
.bouton:hover{
    background-image: url("../img/boutonReturnHover.png");
}

/*Change d'image lorsque celui-ci est appuyer*/
.bouton:active{
    background-image: url("../img/boutonReturnActive.png");
    color: #ffffff;
}

/*L'image de vaincu aparait*/
.image{
    animation-name: zoomIn;
    animation-duration: 5s;
    max-width: 100%;
    height: auto;
}

/*Animation de l'image*/
@keyframes zoomIn {
    from {width: 100px;
    height: auto;}
    to {max-width: auto;
        height: auto;}
  }

/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 700px){
    
    /*Le bouton rétrécie avec la grandeur d'écran*/
    .bouton{ 
        font-size: 0.75em;
    }
}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1200px){

}