/**
* Alexandre Vinette & Joël Paulin
* 13/04/2020
* menu.css
* Style de la page de menu
*/

html{
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url(../img/brickWall-export.png);
    background-repeat: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/*
 Règle à ajouter pour téléphone électronique
*/

/*Garde le contenu de la page centré*/
.content-wrapper{
    flex:1;
    height: 80vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*L'élément 'body' prend 100% de la page*/
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/*Tout les liens sont de même police et couleur*/
a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#000000;
    
}

/*Espacement entre les boutons*/
.com{
    margin: 0 9px;
}

/*Le style des boutons*/
.bouton{
    padding:2.5em 6.2em 2.5em 6.2em;
    background-image: url("../img/boutonMenu.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 2em;
    text-align: center;
}

/*Change d'image lorsque celui-ci est surligner par la souris*/
.bouton:hover{
    background-image: url("../img/boutonMenuHover.png");
}

/*Change d'image lorsque celui-ci est appuyer*/
.bouton:active{
    color: #ffffff;
    background-image: url("../img/boutonMenuClick.png");
}

/*Le style du pied-de-page*/
footer{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    height: 144px;
    width: 100%;
    background-image: url("../img/longflames.png");
}

/*Texte dans le pied-de-page*/
.footerText{
    display: flex;
    position: absolute;
    bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#000000;
    font-size: 0.5em;
}

/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 700px){

}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1200px){


}