/**
* Alexandre Vinette & Joël Paulin
* 13/04/2020
* rule.css
* Style de la page de règlements
*/

html{
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url(../img/brickWall-export.png);
    background-repeat: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/*
 Règle à ajouter pour téléphone électronique
*/

/*Garde le contenu de la page centré*/
.content-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d879;
}

/*Hauteur de l'en-tête pour le bouton de menu*/
header{
    padding-top:3vh;
    padding-bottom: 5vh;
    margin-left: 0.3em;
}

/*Tout les liens sont de même police et couleur*/
a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#000000;
}

/*Bouton pour continuer ou retourner au menu*/
.bouton{
    padding:2.5em 3.5em 2.5em 3.5em;
    background-image: url("../img/boutonReturn.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 0.50em;
}

/*Change d'image lorsque celui-ci est surligner par la souris*/
.bouton:hover{
    background-image: url("../img/boutonReturnHover.png");
}

/*Change d'image lorsque celui-ci est appuyer*/
.bouton:active{
    background-image: url("../img/boutonReturnActive.png");
    color: #ffffff;
}

/*L'élément 'body' prend 100% de la page*/
body {
   min-height: 100vh;
}

.description{
    line-height: 2;
    margin: 1em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 0.7em;
}

/*Tout images sont de la même grandeur*/
.image{
    margin: 1em;
}

/*Image de carte d'attaque*/
#attaque{
    width: 120px;
    height: 160px;
    background-image: url(../Cards/Attack.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Image de carte de bloque*/
#bloque{
    width: 120px;
    height: 160px;
    background-image: url(../Cards/block.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Image du goblin*/
.GoblinIdle {
    width:  450px;
    height: 172px;
    background: url('../spriteSheets/GoblinIdle.png') left center;
    background-size: cover;
    animation: play 1s steps(4) infinite;
    display: inline-block;
}

/*Le style du pied-de-page*/
footer{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    height: 144px;
    width: 100%;
    background-image: url("../img/longflames.png");
}

/*Texte dans le pied-de-page*/
.footerText{
    display: flex;
    position: absolute;
    bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#000000;
    font-size: 0.5em;
}

/*Animation pour le goblin*/
@keyframes play {
    100% {background-position: -1800px;}
}

/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 700px){

    /*L'en-tête grossi*/
    header{
        padding-top:5vh;
        padding-bottom: 5vh;
        margin-left: 0.3em;
    }

    /*Le bouton de menu grossi*/
    .bouton{
        font-size: 0.75em;
    }

    /*La carte d'attque grossi*/
    #attaque{
        width: 180px;
        height: 240px;
        background-image: url(../Cards/AttackHover.png);
    }

    /*La carte de bloque grossi*/
    #bloque{
        width: 180px;
        height: 240px;
        background-image: url(../Cards/blockHover.png);
    }

    /*Le text de la page grossi*/
    .description{
        font-size: 0.9em;
    }
}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1200px){


}